# Universal Transverse Mercator coordinate system

In [1]:
import utm

import numpy as np
import pandas as pd

import folium
from folium import plugins

import time
import random
from statistics import mean, median
from math import radians, cos, sin, asin, sqrt
import os

ModuleNotFoundError: No module named 'utm'

In [3]:
!pip install utm

Requirement already satisfied: utm in c:\users\tay\documents\github\trajectory-data-mining\traj-env\lib\site-packages (0.7.0)

You are using pip version 10.0.1, however version 20.3.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [4]:
from auxiliary_functions import *

We try the UTM package on GeoLife dataset

In [5]:
# GEOLIFE_DATA_PATH =r"C:\Users\Tay\Documents\GitHub\Trajectory-Data-Mining\Geolife Trajectories 1.3\Data"
GEOLIFE_DATA_PATH =r"C:\Users\tay.yq.XTRAMAN\Documents\GitHub\Trajectory-Data-Mining\Geolife Trajectories 1.3\Data"

In [6]:
users = os.listdir(GEOLIFE_DATA_PATH)
print("Number of users in Geolife dataset: " + str(len(users)))

Number of users in Geolife dataset: 182

In [7]:
def readUserTraj(path_to_user):
    '''
    :param path_to_user: a path to the user's dataset according to the Geolife dataset file system
    :return: a dataframe containing all of the user's trajectories
    '''
    trajs = os.listdir(path_to_user + r"\Trajectory")
    col_names = ["lat", "lon", "alt", "date", "time"]
    userTraj = pd.DataFrame(columns=["lat", "lon", "alt", "time"])
    
    for i in range(len(trajs)):
        TRAJ_PATH = path_to_user + r"\Trajectory" + r"\\" + trajs[i]
        traj = pd.read_csv(TRAJ_PATH, skiprows=6, header=None, usecols=[0,1,3,5,6], names=col_names)
        
        traj["full_date"] = traj["date"].str.cat(traj["time"], sep=" ")
        traj["full_date"] = traj["full_date"].apply(lambda x: pd.to_datetime(x))

        traj = traj.drop(columns = ["date", "time"])
        traj = traj.rename(columns = {"full_date": "time"})
        
        userTraj = userTraj.append(traj)
        userTraj = userTraj.reset_index(drop=True)
    
    return userTraj

In [8]:
%%time
trajDataFrames = [readUserTraj(GEOLIFE_DATA_PATH + r"\\" + users[i]) for i in range(5)]

Wall time: 2min 4s

**Some useful functions**

In [9]:
utm.from_latlon(51.2, 7.5)

(395201.31038112973, 5673135.241182375, 32, 'U')

In [13]:
utm.to_latlon(395201.31038112973, 5673135.241182375, 32, 'U')

(51.20000000399309, 7.499999999862897)

In [18]:
temp = trajDataFrames[0][["lat", "lon"]].to_numpy()
temp

array([[ 39.984702, 116.318417],
       [ 39.984683, 116.31845 ],
       [ 39.984686, 116.318417],
       ...,
       [ 40.000443, 116.327186],
       [ 40.000522, 116.327132],
       [ 40.000543, 116.327148]])

In [22]:
%%time
UTM_np = np.apply_along_axis(lambda x: utm.from_latlon(x[0], x[1]), 1, temp)
UTM_np

Wall time: 11.9 s

array([['441807.05662297236', '4426281.714311392', '50', 'S'],
       ['441809.8580366453', '4426279.583938533', '50', 'S'],
       ['441807.0430475015', '4426279.938450423', '50', 'S'],
       ...,
       ['442568.93811357446', '4428023.143781784', '50', 'T'],
       ['442564.3948573248', '4428031.946912262', '50', 'T'],
       ['442565.7782140618', '4428034.267425094', '50', 'T']],
      dtype='<U32')

In [50]:
UTM_df = pd.DataFrame(data=UTM_np)
UTM_df.columns = ["easting", "northing", "zone_number", "zone_letter"]
UTM_df

                   easting            northing zone_number zone_letter
0       441807.05662297236   4426281.714311392          50           S
1        441809.8580366453   4426279.583938533          50           S
2        441807.0430475015   4426279.938450423          50           S
3        441804.3125899241   4426280.181319337          50           S
4       441793.86824508826  4426276.5982440645          50           S
...                    ...                 ...         ...         ...
173865  442574.79445660365   4428018.659661258          50           T
173866  442570.89301981183    4428022.01904634          50           T
173867  442568.93811357446   4428023.143781784          50           T
173868   442564.3948573248   4428031.946912262          50           T
173869   442565.7782140618   4428034.267425094          50           T

[173870 rows x 4 columns]

In [51]:
UTM_df.zone_letter.unique()

array(['S', 'T', 'R'], dtype=object)

In [52]:
for i in range(1, len(UTM_df)):
    if UTM_df.zone_letter[i-1] != UTM_df.zone_letter[i]:
        print(i)

470
1152
1938
3390
3415
3424
3628
3631
3682
5847
6137
7614
7768
7769
7833
7849
7852
7853
7858
8154
8157
8423
8677
8698
8714
8716
8728
8885
8926
8928
8934
9153
9161
9386
9396
9542
9550
9551
9557
9739
9751
9811
9832
9835
9853
10292
10295
10300
10439
10508
10520
10714
10940
10941
10943
10944
10945
10946
10955
11211
11219
11274
11385
11629
11632
11653
11667
11740
11745
12077
12163
12174
12179
12231
12233
12327
12362
12452
12577
12578
12580
12581
12656
12700
12701
12703
12710
12717
12727
12850
12942
12943
12953
13564
13565
13567
13572
13576
13577
13588
13592
13606
13622
13623
13773
13784
13807
13808
13813
14036
14047
14058
14090
14381
14678
14679
14695
14943
14946
14956
14962
15165
15720
15872
15882
15889
15893
15904
15915
16368
16413
16440
16460
16467
16471
16482
16504
16874
16901
17361
17384
17393
17397
18106
18169
18172
18754
19211
19820
27553
29083
29424
31318
31903
31904
31951
31959
31965
31978
31982
31985
32018
32020
32059
35273
35693
36141
36817
37263
37559
37581
37587
37864
37873
37908
38080
38098
38102
39774
39775
39800
40030
40287
40290
42008
42011
42041
42239
42252
42259
42260
42265
43876
43880
43916
44131
44310
44311
45946
45947
45974
46130
47638
47831
48087
48107
50069
50074
50101
50106
50108
50425
50437
50438
50443
50452
50576
51029
51060
51149
51463
51468
51471
51472
51597
52076
52120
52121
52141
52343
52475
52748
52773
53100
53160
53173
53205
53432
56172
56174
56181
56191
56237
56559
56611
56623
56624
56627
56628
56631
56648
56942
56968
57271
57301
57302
57336
57655
57676
57842
57849
57855
57874
57882
57884
57887
57891
58025
58038
58111
58602
58604
58639
58847
58907
59141
59145
59236
59248
59515
59548
60303
60328
60346
60372
60373
60622
60629
60799
61003
61040
61192
66251
66254
66257
66275
66513
66524
66530
66532
66534
66788
66795
66797
66813
66826
66842
67226
67284
67821
67877
67882
67887
67889
67896
68147
68162
68168
68360
68369
68528
68624
68643
68652
68656
68657
68658
68870
69237
69250
69455
69490
69505
69911
69940
69956
69958
69960
70469
71131
71443
72160
74953
75681
76138
77412
77583
77752
79666
80093
80486
81312
81741
82321
82477
82485
82491
82842
82880
83038
83052
83065
83078
83199
83220
83246
83257
83645
83652
83799
83803
83807
83810
83811
83815
84043
84046
84050
84055
84202
84499
84839
84841
84842
85209
85234
85266
85508
85522
85538
85886
85975
85976
85990
85995
86378
86410
86423
86453
86737
86746
86763
87395
87400
87402
87418
87435
87575
87597
87603
87945
87967
87979
87980
87986
87987
87988
87990
87994
88379
88390
88710
88739
88749
88756
89095
89096
89097
89124
89252
89271
89428
89450
89768
89769
89891
89913
90232
90238
90254
90263
90604
90612
90613
90629
90684
90806
90815
90850
90863
90882
91618
91632
91654
91956
91961
91989
92294
92304
92306
92309
92310
92311
92314
92315
92323
92334
92342
92467
92501
92502
92504
92523
92953
92956
92961
92962
92984
93010
93433
93454
93455
93728
93730
93734
93736
93738
93972
94017
94020
94022
94025
94059
94060
94065
94411
94458
94598
94603
94604
94614
94839
94879
94880
94882
94888
95057
95228
95254
95269
95279
95426
95427
95428
95429
95442
95443
95444
95446
95452
95469
95600
95640
95769
95779
96102
96784
97123
102798
102908
103338
103343
103346
103358
103359
103365
103384
103769
103770
103780
103805
104061
104093
104097
104102
104106
104107
104110
104297
104298
104302
105227
105246
105250
105258
105753
106141
106406
106414
106418
111434
111827
112274
112591
113419
113423
113424
113426
113429
113430
113440
113661
113662
113667
113815
113825
113827
113833
113848
113957
114101
114107
114110
114114
114131
114321
114324
114662
114683
114698
114702
114718
114720
115008
115019
115020
115021
115478
115479
115495
115510
115555
115928
116097
116119
116123
116136
116761
116774
116776
116843
117127
117134
117372
117387
117389
117411
117418
117652
118840
119110
119632
119649
120095
120119
120137
120150
120454
120747
120759
121041
121043
121047
121068
121474
121696
121724
121725
121734
121736
121757
121758
121762
121780
122201
122205
122207
122220
122232
122239
122241
122456
122482
122506
122515
122520
122521
122770
122986
122987
122988
123008
123033
123034
123052
123056
123057
123319
123958
123966
124004
124170
124591
126753
126772
126783
126784
126788
126794
126801
126839
126974
127009
127015
127018
127302
127366
127371
127392
127508
127546
127547
127558
127729
127738
127741
127742
127774
127777
127779
128767
128778
129583
129712
129731
129753
130243
130315
130335
130336
130355
130365
130368
130370
130387
130532
130542
130544
130548
130549
130551
130556
130562
130569
130727
135931
136222
136236
136463
136607
136631
136651
136655
136658
136661
136811
136841
136846
136851
137091
137185
137188
137189
137190
137202
137363
137778
137789
137806
137851
137873
138075
138080
138221
138258
138278
138308
138489
140122
140358
140382
140688
140858
140880
140883
141011
141056
141177
141194
141376
141384
141385
141419
141541
141568
141573
141574
141754
141756
141757
142394
142411
142417
142636
142637
142656
142662
142981
142989
142991
143006
143017
143044
143098
143127
143131
143134
143135
143149
143397
143399
143663
143724
143954
143986
143992
144003
144494
144512
144745
144750
144754
144755
144807
144810
145565
145781
145784
145790
145804
145815
146286
146326
146331
146338
146414
146681
146682
147080
147084
147087
147828
147872
148156
148163
148352
148369
148468
148483
148661
148707
148900
148902
149086
149109
149117
149137
149179
149810
150130
160679
161004
161396
161511
161563
161586
161595
162324
162325
162549
162594
162859
163044
163050
163051
163067
163075
163240
163270
163297
163302
163465
163483
163577
166582
166583
167471
168130
169498
169515
169534
169803
169805
170056
170063
170173
170174
170177
170189
170405
170565
170569
170575
170576
170579
170582
170742
171109
171120
171122
171130
171348
171350
171360
171363
171367
171548
171558
171560
171681
171688
171691
171703
171724
171727
171728
172310
172341
172361
173601
173827
173830
173841
173847
173857

In [53]:
UTM_df.iloc[460:480, :]

                easting           northing zone_number zone_letter
460   442338.7471803688  4427926.873683271          50           S
461  442342.71374168317  4427920.849734608          50           S
462  442341.52709383355  4427921.968706575          50           S
463   442337.0458428309  4427927.663562783          50           S
464   442347.4649654593  4427928.250593063          50           S
465  442350.76462077076  4427924.340662985          50           S
466  442354.65633569704  4427930.971052773          50           S
467  442357.95724282204  4427938.493903998          50           S
468   442364.7537436889  4427945.435286278          50           S
469  442372.04306259315  4427949.819989162          50           S
470  441972.69421692146  4428508.511698289          50           T
471   441992.3325939926  4428509.249905189          50           T
472  442005.74683616584  4428510.923596544          50           T
473   442017.5562516623  4428514.829506236          50           T
474   442030.5437040958  4428516.506494143          50           T
475   442045.4951539236  4428518.279539165          50           T
476   442057.6848117722   4428516.07771704          50           T
477   442068.2941542326  4428519.326857165          50           T
478    442071.863848704  4428528.512516592          50           T
479  442068.72687805136  4428542.522168896          50           T